{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm" type="submit" style="color: rgb(224,221,216);background: #152a6c;">{{ button_label|default('Ajouter Formation') }}</button>
{{ form_end(form) }}
