{% extends 'base.html.twig' %}

{% block title %}Edit Formation
{% endblock %}

{% block content %}
	{% embed "layout/card.html.twig" %}
		{% block card_title %}Modifier une formation

		{% endblock %}
		{% block card_body %}
			{{ include('formation/_form.html.twig', {'button_label': 'Modifier'}) }}


			<a class="btn  btn-primary  w-25 mx-auto rounded-sm float-end mt-5" href="{{ path('app_formation_index') }}">Retour


			</a>
			{{ include('formation/_delete_form.html.twig') }}


		{% endblock %}


	{% endembed %}


{% endblock %}
