{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block content %}
	{% embed "layout/card.html.twig" %}
		{% block card_title %}Formation
		{% endblock %}
		{% block card_body %}
			<table class="table">

				<thead>
					<tr>
						<th>LibelleFormation</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for formation in formations %}
						<tr>
							<td>{{ formation.libelleFormation }}</td>
							<td>
								<a class="btn btn-success " href="{{ path('app_formation_show', {'id': formation.id}) }}">Afficher</a>
								{% if is_granted("ROLE_ADMIN") %}


									<a class="btn btn-dark " href="{{ path('app_formation_edit', {'id': formation.id}) }}">Modifier</a>
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">Aucune donnée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if is_granted("ROLE_ADMIN") %}


				<a href="{{ path('app_formation_new') }}" class="btn btn-primary float-end">Créer une nouvelle formation</a>
			{% endif %}

		{% endblock %}
	{% endembed %}


{% endblock %}
