{% extends "base.html.twig" %}
{% block title %}Accueil
{% endblock %}
{% block content %}
	<div class="row" data-aos="zoom-in">
		<div class="col-12 col-lg-6 col-xl-5 offset-xl-1" style="padding: 4px;text-shadow: 4px 1px 8px var(--bs-gray-dark);opacity: 1;">
			<h1 style="margin: 72px 0px 24px;">Bienvenue à Poly-FC</h1>
			<p>POLYFC, Centre de Formation et Certification à l’école polytechnique de Sousse, est un centre privé de formation leader dans le domaine de la formation.&nbsp;</p>
			<a class="btn btn-light btn-lg action-button" role="button" href="About.html">En savoir plus</a>
		</div>
		<div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-flex d-lg-block flex-column justify-content-sm-center align-items-sm-center phone-holder">
			<div class="phone-mockup"><img class="d-flex float-end device" src="assets/img/logo.png" style="text-align: center;transform: perspective(370px) translate(-9px) scale(1.13) skew(0deg);opacity: 0.86;filter: brightness(95%);box-shadow: 0px 0px;"></div>
		</div>
	</div>

{% endblock %}
