<div class="mx-auto">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-success w-100 rounded-sm">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}
</div>
