{% extends 'base.html.twig' %}

{% block title %}New TypeCertif
{% endblock %}

{% block content %}
	<div class="row">
		<div class="row">
			<div class="col">


				<section data-aos="zoom-in" class="register-photo" style="background: rgba(241,247,252,0);border-width: 0px;border-radius: 25px;padding-top: 5px;padding-bottom: 4px;">


					<div class="container bg-light shadow mx-auto p-5 d-flex flex-column rounded col-md-8">
						<h2 class="text-center">
							<strong>Créer un type de certification</strong>
						</h2>

						{{ include('type_certif/_form.html.twig') }}

						<a class="btn btn-primary mx-auto" href="{{ path('app_type_certif_index') }}">Retour
						</a>

					</div>
				</section>
			</div>
		</div>
	</div>

{% endblock %}
