{% extends "base.html.twig" %}
{% block title %}Ajouter Enseignant
{% endblock %}
{% block content %}
	<div class="row">
		<div class="row">
			<div class="col">


				<section data-aos="zoom-in" class="register-photo" style="background: rgba(241,247,252,0);border-width: 0px;border-radius: 25px;padding-top: 5px;padding-bottom: 4px;">
					<div class="form-container">

						{{ form_start(form) }}
						<h2 class="text-center">
							<strong>Ajoutez un enseignant</strong>
						</h2>
						{% for msg in app.flashes('message') %}
							<span class="text-center fw-bold text-{{msg[" type"]}}">{{msg["content"]}}</span>


						{% endfor %}


					
						{{form_end(form)}}

					</div>
				</section>
			</div>
		</div>

	</div>


{% endblock %}
